################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/.vs
/Code/GX.ManageSystem.Portal/bin
/Code/GX.ManageSystem.Portal/obj