@model VMMachineManage.Models.Common_DepartmentModel

@{
    ViewData["Title"] = "Create";
}

<h1>添加</h1>

<h4>部门信息</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParentNumber" class="control-label"></label>
                <input asp-for="ParentNumber" class="form-control" />
                <span asp-validation-for="ParentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepName" class="control-label"></label>
                <input asp-for="DepName" class="form-control" />
                <span asp-validation-for="DepName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
