@model VMManageSystem.Models.ApprovalViewModel;

@{
    ViewData["Title"] = "Apply";
}

    <p>
        <a asp-action="Index">管理虚拟机</a>
        <a asp-action="Create">添加虚拟机</a>
        <label>申请虚拟机</label>
        <a asp-action="ApprovalDetails">待处理任务</a>
    </p>

<form asp-action="Apply">
    <table id="creating-vm-table">

        <tr id="a">
            <td>
                <b><label class="control-label" style="width:400px;margin-left:300px">操作系统</label></b>
                <select class="form-control" asp-for="OperatingSystem" style="width:400px;margin-left:300px">
                    <option value="0">Windows</option>
                    <option value="1">Linux</option>
                </select>

                <b><label asp-for="UsedDays" class="control-label" style="width:400px;margin-left:300px">使用天数</label></b>
                <select class="form-control" asp-for="UsedDays" style="width:400px;margin-left:300px">
                    <option value="7">7天</option>
                    <option value="15">15天</option>
                    <option value="30">30天</option>
                </select>
                <b><label asp-for="UsedCount" class="control-label" style="width:400px;margin-left:300px">使用数量</label></b>
                <input asp-for="UsedCount" class="form-control" style="width:400px;margin-left:300px" />
                <b><label class="control-label" style="width:400px;margin-left:300px">备注</label></b>
                <textarea asp-for="Approval.Remark" class="form-control" style=" width: 400px;height: 200px; margin-left: 300px"></textarea>
            </td>
        </tr>
    </table>

    <br />
    <input type="submit" value="提交申请" class="btn btn-primary" asp-controller="VirtualMachines" asp-action="Apply" style="width:150px;margin-left:300px" />
    <span class="text-danger"></span>
    <input type="button" value="返回列表" class="btn btn-primary" asp-action="Index" style="width:150px;margin-left:100px" />
    <link href="~/css/Login.css" />
    <div id="org"></div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}