@model VMManageSystem.Models.VirtualMachineModel

@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript">

    //动态添加控件
    function addInputControl() {
        var tb = document.getElementById("creating-vm-table");

        var docip = document.getElementsByName("machineIP");
        var newTr = tb.insertRow(docip.length + 1);//表示在第二行后添加一行

        var newTdIP = newTr.insertCell();//表示在添加的行上添加第一格
        //newTdIP.innerHTML="邮箱:";
        //var newTd2=newTr.insertCell();//表示在添加的行上添加第二格
        newTdIP.innerHTML = "<input asp-for='MachineIP' class='form-control' name='machineIP' />";

        var newTdSystem = newTr.insertCell();//表示在添加的行上添加第一格
        newTdSystem.innerHTML = "<select class='form-control' asp-for='MachineSystem' name='machineSystem'>" +
            "<option value='0'>Windows</option><option value='1'>Linux</option>" +
            "</select>";

        var newTdDisk = newTr.insertCell();//表示在添加的行上添加第一格
        newTdDisk.innerHTML = "<input asp-for='MachineDiskCount' class='form-control' name='machineDiskCount' />";

        var newTdMemory = newTr.insertCell();//表示在添加的行上添加第一格
        newTdMemory.innerHTML = "<input asp-for='MachineMemory' class='form-control' name='machineMemory' />";

        var newTdState = newTr.insertCell();//表示在添加的行上添加第一格
        newTdState.innerHTML = "<select asp-for='MachineState' class='form-control' name='machineState' >" +
            "<option value='0'>无</option>" +
            "</select>";

        var newTdUser = newTr.insertCell();//表示在添加的行上添加第一格
        newTdUser.innerHTML = "<input asp-for='MachineUser' class='form-control' name='machineUser' />";

        var newTdPwd = newTr.insertCell();//表示在添加的行上添加第一格
        newTdPwd.innerHTML = "<input asp-for='MachinePassword' class='form-control' name='machinePassword' />";
    }

    //批量提交表单
    function submitvmdata() {
        alert('Test');
        //获取多个IP列表
        var iplst = {};
        var doc_ip = document.getElementsByName("machineIP");
        for (var i = 0; i < doc_ip.length; i++) {
            iplst[i] = doc_ip[i].value;
        }

        //获取操作系统列表
        var oslst = {};
        var doc_os = document.getElementsByName("machineSystem");
        for (var i = 0; i < doc_os.length; i++) {
            oslst[i] = doc_os[i].value;
        }

        //获取磁盘容量列表
        var disklst = {};
        var doc_disk = document.getElementsByName("machineDiskCount");
        for (var i = 0; i < doc_disk.length; i++) {
            disklst[i] = doc_disk[i].value;
        }

        //获取内存容量列表
        var memorylst = {};
        var doc_memory = document.getElementsByName("machineMemory");
        for (var i = 0; i < doc_memory.length; i++) {
            memorylst[i] = doc_memory[i].value;
        }

        //获取内存容量列表
        var statelst = {};
        var doc_state = document.getElementsByName("machineState");
        for (var i = 0; i < doc_state.length; i++) {
            statelst[i] = doc_state[i].value;
        }

        //获取机器账号列表
        var userlst = {};
        var doc_user = document.getElementsByName("machineUser");
        for (var i = 0; i < doc_user.length; i++) {
            userlst[i] = doc_user[i].value;
        }

        //获取机器密码列表
        var pwdlst = {};
        var doc_pwd = document.getElementsByName("machinePassword");
        for (var i = 0; i < doc_pwd.length; i++) {
            pwdlst[i] = doc_pwd[i].value;
        }

        var list = [1, 2, 3];
        //获取令牌信息
        var token = $('[name=__RequestVerificationToken]').val();
        $.ajax({
            headers: { "Authorization": token },
            async: false,
            url: "CreateVMs",
            type: "post",
            data: {
                "__RequestVerificationToken": token,
                ipLst: iplst,
                osLst: oslst,
                diskLst: disklst,
                memoryLst: memorylst,
                stateLst: statelst,
                userLst: userlst,
                pwdLst: pwdlst
            },
            success: function (data) {
                window.location.href = data;
            },
        });
    }
</script>

<link href="/css/CreateVMStyle.css" rel="stylesheet" />

<p>
    <a asp-action="Index">管理虚拟机</a>
    <label>添加虚拟机</label>
    <a asp-action="Apply">申请虚拟机</a>
    <a asp-action="ApprovalDetails">待处理任务</a>
</p>

<hr />
<form asp-action="Create">
    <table id="creating-vm-table" ng-controller="c3_4">
        <tr>
            <td style="width:150px"><b><label asp-for="MachineIP" class="control-label"></label></b></td>
            <td style="width:100px"><b><label asp-for="MachineSystem" class="control-label"></label></b></td>
            <td style="width:150px"><b><label asp-for="MachineDiskCount" class="control-label"></label></b></td>
            <td style="width:150px"><b><label asp-for="MachineMemory" class="control-label"></label></b></td>
            <td style="width:100px"><b><label asp-for="MachineState" class="control-label"></label></b></td>
            <td style="width:150px"><b><label asp-for="MachineUser" class="control-label"></label></b></td>
            <td style="width:150px"><b><label asp-for="MachinePassword" class="control-label"></label></b></td>
        </tr>
        <tr>
            <td><input asp-for="MachineIP" class="form-control" name="machineIP" /></td>
            <td>
                <select class="form-control" asp-for="MachineSystem" name="machineSystem">
                    <option value="0">Windows</option>
                    <option value="1">Linux</option>
                </select>
            </td>
            <td><input asp-for="MachineDiskCount" class="form-control" name="machineDiskCount" /></td>
            <td><input asp-for="MachineMemory" class="form-control" name="machineMemory" /></td>
            <td>
                <select asp-for="MachineState" class="form-control" name="machineState">
                    <option value="0">无</option>
                </select>
            </td>
            <td><input asp-for="MachineUser" class="form-control" name="machineUser" /></td>
            <td><input asp-for="MachinePassword" class="form-control" name="machinePassword" /></td>
        </tr>
    </table>
    <input id="ss" type="button" style="margin-left:500px" value="+" class="btn btn-primary" onclick="addInputControl()" />
    <br />
    <input type="button" value="添加虚拟机" class="btn btn-primary" onclick="submitvmdata()" />
    <span class="text-danger"></span>
    <input type="button" value="返回列表" class="btn btn-primary" asp-action="Index" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
