@model VMMachineManage.Models.PersonnelInfoModel

@{
    ViewData["Title"] = "用户信息";
}

<h1>查看</h1>

<div> 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonnelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class="col-sm-10">
           ******
        </dd> 
    </dl>
</div>
  
