@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">处理您的请求时出错。</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>请求ID:</strong> <code>@Model.RequestId</code>
</p>
}

<h3>开发模式</h3>
<p>
    切换到 <strong>开发</strong> 环境将显示有关发生的错误的更详细信息。
</p>
<p>
    <strong>不应为已部署的应用程序启用开发环境。</strong>
    它可能导致向最终用户显示异常中的敏感信息。
    对于本地调试，请启用<strong>开发</strong> 通过设置 <strong>ASPNETCORE_ENVIRONMENT</strong> 环境变量 <strong>Development</strong>
    重新启动应用程序。
</p>
