@model VMMachineManage.Models.PersonnelInfoModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-4">
            <section>
                <form asp-controller="Home", asp-action="Login">
                    <h4>广贤管理软件</h4>
                    <hr />

                    <div class="form-group">
                        <label asp-for="PersonnelName"></label>
                        <input asp-for="PersonnelName" class="form-control" name="user" value="rendelang" />
                    </div>

                    <div class="form-group">
                        <label asp-for="PassWord"></label>
                        <input asp-for="PassWord" type="password" class="form-control"  name="pwd" value="123456" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="登录" />
                    </div>

                </form>
            </section>
        </div>
    </div>
