@model VMMachineManage.Models.ApplyDataModel

@{
    ViewData["Title"] = "Create";
}

<h1>虚拟机申请</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="MachineID" />*@
        <div class="form-group">
            <label class="control-label">操作系统</label>
            @if (int.Parse(ViewData["MachineSystem"].ToString()) == 0)
            {
                <input class="form-control" type="text" readonly="readonly" value="Windows" />
            }
            else
            {
                <input class="form-control" type="text" readonly="readonly" value="Linux" />
            }
            <input name="machineSystem" type="text" readonly="readonly" hidden value="@ViewData["MachineSystem"]" />
            <span asp-validation-for="MachineSystem" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="MachineDiskCount" class="control-label"></label>
                <input readonly="readonly" asp-for="MachineDiskCount" class="form-control" />
                <span asp-validation-for="MachineDiskCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineMemory" class="control-label"></label>
                <input readonly="readonly" asp-for="MachineMemory" class="form-control" />
                <span asp-validation-for="MachineMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OprationType" class="control-label"></label>
                <select disabled="disabled" asp-for="OprationType" class="form-control">
                    <option value="0">申请</option>
                </select>
                <span asp-validation-for="OprationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamineUserName" class="control-label"></label>
                <select asp-for="ExamineUserName" class="form-control">
                    <option value="1">任德浪</option>
                </select>
                <span asp-validation-for="ExamineUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyTime" class="control-label"></label>
                <input asp-for="ApplyTime" class="form-control" />
                <span asp-validation-for="ApplyTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysNumber" class="control-label"></label>
                <input asp-for="DaysNumber" value="15" class="form-control" />
                <span asp-validation-for="DaysNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <select asp-for="Number" class="form-control">
                    @for (int i = 1; i <= Model.Number; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select> 
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p><label asp-for="Remark" class="control-label"></label></p>
                <textarea name="Remark" asp-for="Remark" class="form-control" value=" 文本域默认值"> </textarea>
                @*<span asp-validation-for="Remark" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表t</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
