
@{
    ViewData["Title"] = "申请失败";
}
<h1>@ViewData["Title"]</h1>
<div>
    虚拟机剩余空闲数据量不足，请重新申请
    返回<a class="btn btn-primary btn-sm" asp-area="" asp-controller="MachApplyAndReturn" asp-action="Index">虚拟机申请</a>
</div>
